#OVH
SetEnv PHP_VER 5_3
SetEnv MAGIC_QUOTES 0
SetEnv SESSION_USE_TRANS_SID 0

#HTPASSWD
#AuthUserFile /homez.157/moulinveb/www/web/.htpasswd
#AuthGroupFile /dev/null
#AuthName "Veuillez vous identifier"
#AuthType Basic

#<Limit GET POST>
#require valid-user
#</Limit>

Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  #RewriteCond %{HTTP_HOST} !^www\.
  #RewriteRule ^(.*)$ http://www.google.fr [R=301,L]

  #OPTIONAL - PERFORMANCE
  #RewriteCond %{DOCUMENT_ROOT}euripides/coxis/web/$1 -f
  #RewriteRule ^(.*)$ web/$1 [QSA,L]
  
  RewriteCond $1 !html/
  RewriteCond $1 !web/
  RewriteCond %{REQUEST_FILENAME} !index.php
  RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>