#OVH
SetEnv PHP_VER 5_3
SetEnv MAGIC_QUOTES 0
SetEnv SESSION_USE_TRANS_SID 0

Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteBase /

  Options -Indexes

  #RewriteRule ^(.*)$ http://www.google.fr/%{DOCUMENT_ROOT}coxis3/web/$1 [R=301,L]

  RewriteCond web/$1 -F
  RewriteRule ^(.*)$ web/$1 [QSA,L]
  
  RewriteCond $1 !web/
  RewriteCond %{REQUEST_FILENAME} !index.php
  RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>