html{min-width:1000px;}
body{
	margin:0;
	font:12px Tahoma, Geneva, sans-serif;
	color:#4d4d4f;
}
img{border-style:none;}
a{
	color:#4d4d4f;
	text-decoration:underline;
}
a:hover{text-decoration:none;}
.clear { clear:both; }
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input,
textarea,
select{
	font:12px/15px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	outline:none;
}
.header-block:after,
#nav:after,
.post-list:after,
.post-list li:after{
	content:'';	display:block;	clear:both;
}
#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
}
.w1{
	width:990px;
	margin:0 auto;
}
#header{
	width:100%;
	padding:20px 9999px 0;
	margin:0 -9999px 5px;
	background:url(../images/bg-header.png) no-repeat 50% 0;
}
.header-block{
	padding:0 33px 0 0;
	width:956px;
	margin:0 0 10px;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	width:263px;
	height:78px;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 0 0 -7px;
}
.logo a{
	display:block;
	height:100%;
}
.slogan{
	float:right;
	margin:9px 0 0;
	text-indent:-9999px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	background:url(../images/text-slogan.png) no-repeat;
	width:455px;
	height:58px;
}
#nav{
	padding:0;
	font-size:12px;
	line-height:15px;
	margin:0;
	list-style:none;
	font-weight:bold;
	width:100%;
}
#nav li{
	float:left;
	width:160px;
	text-align:center;
	padding:15px 0 11px;
	background:url(../images/separator-nav.png) no-repeat 100% 4px;
}
#nav li:first-child{
	width:38px;
	text-align:left;
	margin:0 0 0 -8px;
	padding:16px 0 10px;
}
#nav li:first-child .home{
	text-indent:-9999px;
	overflow:hidden;
	width:19px;
	height:16px;
	display:block;
	background:url(../images/bg-home.png) no-repeat;
}
#nav li:first-child .home.actif{
	background:url(../images/bg-home-hover.png) no-repeat;
}
#nav a{
	color:#939598;
	text-decoration:none;
}
#nav a:hover, #nav a.actif{color:#000;}
#main{
	/* overflow:hidden; */
	width:100%;
	margin:0 0 3px;
}
.post-list p, .news-list p{margin:0;}
#content{
	width:650px;
	padding:0 0 0 5px;
	float:left;
}
#content .back-home{
	color:#4d4d4f;
	display:inline-block;
	vertical-align:top;
	margin:0 0 7px;
}
#content h1{
	font-size:30px;
	line-height:33px;
	margin:0 0 18px;
}
#content .content-block{
	overflow:hidden;
	width:100%;
	margin:0 0 7px;
}
#content .content-block .alignright{
	float:right;
	margin:0 0 0 20px;
}
.content-block .text-box{
	overflow:hidden;
	padding:15px 0 0;
	border-top:1px solid #d7d7d7;
	font-size:14px;
	line-height:17px;
}
.post-list{
	padding:0;
	margin:0 0 -3px;
	list-style:none;
	font-size:12px;
	line-height:15px;
}
.post-list li{
	vertical-align:top;
	padding:10px 0 0;
	margin:0 0 10px;
	background:url(../images/bg-post-list.png) no-repeat;
}
.post-list li:first-child{
	background:none;
	padding:0;
}
.image-holder{
	float:left;
	margin:1px 6px 0 -5px;
	width:90px;
	height:90px;
	padding:3px 4px 5px 5px;
	background:url(../images/bg-img.png) no-repeat;
}
.image-holder img{vertical-align:top;}
.post-list .text-info{overflow:hidden;}
.post-list li h2{
	font-size:18px;
	line-height:21px;
	color:#e35896;
	margin:0;
}
.post-list li h2 a{
	color:#e35896;
	text-decoration:none;
}
.post-list li h2 a:hover{text-decoration:underline;}
.post-list li .date{
	color:#4d4d4f;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	line-height:12px;
}
.post-list li .more{
	font-weight:bold;
	color:#4d4d4f;
}
#main .paging{
	padding:8px 0 0;
	margin:0 0 5px;
	list-style:none;
	text-align:center;
	font-size:11px;
	line-height:13px;
	overflow:hidden;
	background:url(../images/bg-paging.png) no-repeat 50% 0;
}
#main .paging li{
	display:inline;
	vertical-align:top;
	margin:0 2px;
}
#main .paging a{
	color:#939598;
	text-decoration:none;
}
#main .paging a:hover,
#main .paging .active a{font-weight:bold;}
#sidebar{
	width:258px;
	float:right;
}
#sidebar .news-list{
	padding:0 0 0 4px;
	margin:0 0 3px;
	overflow:hidden;
	list-style:none;
	color:#a1a3a6;
	font-size:10px;
	line-height:12px;
}
#sidebar .news-list li{
	overflow:hidden;
	vertical-align:top;
	margin:0 0 15px;
	padding:13px 0 0;
	background:url(../images/bg-news-list.png) no-repeat 50% 0;
}
#sidebar .news-list li:first-child{
	background:none;
	padding:0;
}
#sidebar .news-list li img{
	float:left;
	margin:2px 5px 0 0;
}
#sidebar .news-list li .info-text{
	overflow:hidden;
	padding:0 10px 0 0;
}
#sidebar .news-list li h3{
	font-size:10px;
	line-height:12px;
	color:#4d4d4f;
	margin:0;
	text-transform:uppercase;
}
#sidebar .news-list li h3 a{
	color:#4d4d4f;
	text-decoration:none;
}
#sidebar .news-list li h3 a:hover{text-decoration:underline;}
#sidebar .news-list li .more{
	color:#4d4d4f;
	font-weight:bold;
}
.form-holder{
	background:url(../images/bg-newsletter-form.png) no-repeat;
	width:258px;
	padding:3px 0 0;
}
.form-frame{
	width:100%;
	padding:0 0 5px;
	background:url(../images/bg-newsletter-form.png) no-repeat -516px 100%;
}
.newsletter-form{
	overflow:hidden;
	width:200px;
	padding:5px 28px 12px 30px;
	text-align:center;
	color:#939598;
	font-size:9px;
	line-height:13px;
	background:url(../images/bg-newsletter-form.png) repeat-y -258px 0;
}
.newsletter-form h2{
	font-size:24px;
	line-height:27px;
	color:#4d4d4f;
	margin:0 0 17px;
	text-align:center;
}
.newsletter-form .row{
	overflow:hidden;
	width:100%;
	margin:0 0 17px;
}
.newsletter-form .input-holder{
	background:url(../images/bg-input.png) no-repeat;
	width:126px;
	height:14px;
	padding:2px;
	float:left;
}
.newsletter-form label{
	float:left;
	font-size:12px;
	line-height:14px;
	color:#939598;
	margin:1px 6px 0 0;
}
.newsletter-form .text{
	padding:0 2px;
	margin:0;
	border:0;
	background:url(../images/none.gif);
	float:left;
	width:122px;
	height:14px;
	font-size:12px;
	line-height:15px;
	color:#4d4d4f;
}
.newsletter-form .submit-row{
	overflow:hidden;
	width:160px;
	padding:0 0 0 40px;
}
.newsletter-form .submit{
	padding:0 0 5px;
	margin:0;
	border:0;
	background:url(../images/btn-submit.png) no-repeat;
	float:left;
	font-size:14px;
	line-height:25px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:121px;
	height:25px;
	font-family:Tahoma;
}
.newsletter-form .submit:hover{
	cursor:pointer;
	color:#c0c0c0;
}
.newsletter-form .error-message{
	display:inline-block;
	vertical-align:top;
	margin:0 0 4px;
}
#sidebar .ad{
	width:250px;
	padding:3px;
	background:url(../images/shadow-ad.png) no-repeat;
}
#sidebar .ad a{display:block;}
#sidebar .ad img{vertical-align:top;}
#footer{
	clear:both;
	width:100%;
	padding:5px 9999px;
	margin:0 -9999px;
	text-align:center;
	color:#a9aaad;
	font-size:11px;
	line-height:13px;
	background:url(../images/bg-footer.png) no-repeat 50% 0;
}
#footer p{margin:0;}
#footer strong{color:#939598;}
#footer strong a{
	color:#939598;
	text-decoration:none;
}
#footer strong a:hover{text-decoration:underline;}

/** MIC HOG **/
hr {
	border:0;
	background-color:#cacaca;
	height:1px;
	text-align:left;
}
hr.small {
	width:360px;
	margin-left:0;
}
.img-left {
	float:left;
	margin:0 10px 10px 0;
}
.fiche-right {
	display:block;
	font-family:Arial;
	float:left;
	width:530px;
}
.pink {
	color:#e35896;
}
.fiche-content .intro {
	font-weight:bold;
	font-style:italic;
	font-size:14px;
	margin-bottom:10px;
}
.fiche-content ul {
	margin:0;
}
.fiche-content  li {
	margin:0;
	margin-left:-20px;
}
.fiche-content p {
	margin-bottom:15px;
}
.note {
	font-size:11px;
	color:#636466;
}

#annuaire-blocks .block, #formation-blocks .block {
	text-align:center;
	padding:20px 15px 15px 15px;
	float:left; 
	font-size:18px;
	color:#4d4d4f;
	font-weight:bold;
	font-family:Tahoma;
	position:relative;
}
#annuaire-blocks .block {
	background-image:url(../images/annuaire/block-bg.png);
	width:296px;
	height:300px;
}
#formation-blocks .block {
	background-image:url(../images/formation/block-bg.png);
	width:296px;
	height:344px;
}
#annuaire-blocks .block img, #formation-blocks .block img {
	margin-top:10px;
}
#formation-blocks .block a {
	margin-top:20px;
}

#accueil-blocks {
	clear:both;
	margin-left:-35px;
	width:1050px;
	height:225px;
}
#accueil-blocks .block {
	background-image:url(../images/accueil/block-bg.png);
	width:226px;
	height:185px;
	text-align:center;
	color:#444444;
	padding:15px;
	float:left;
	font-size:11px;
}
#accueil-blocks .block img {
	margin-bottom:5px;
}
#accueil-blocks .block a {
	font-weight:bold;
}
#slideshow {
	margin-left:-40px;
	position:relative;
	width:764px;
	height:313px;
}
#slideshow #hidden {
	position:relative;
	overflow:hidden;
	width:764px;
	height:313px;
}
#slideshow #slideshow_container {
	list-style-type:none;
	width:10000px;
	padding:0;
	margin:0;
}
#slideshow #slideshow_container li {
	float:left;
	position:relative;
}
#slideshow #slideshow_container li span {
	font-size:18px;
	color:#000000;
	display:block;
	position:absolute;
	top:75px;
	left:20px;
}
#slideshow #slideshow_container li a {
	font-weight:bold;
	color:#000000;
}
#slideshow #slideshow-left {
	position:absolute;
	bottom:20px;
	left:10px;
	z-index:1000;
	cursor:pointer;
}
#slideshow #slideshow-right {
	position:absolute;
	bottom:20px;
	right:10px;
	z-index:1000;
	cursor:pointer;
}

#tabs {
	list-style-type:none;
	margin:0;
	padding:0;
	height:70px;
}
#tabs li a {
	color:#939598;
	text-decoration:none;
}
#tabs li a:hover {
	text-decoration:underline;
}
#tabs li {
	font-family:Tahoma;
	font-weight:bold;
	font-size:17px;
	width:187px;
	height:64px;
	background-image:url(../images/arpa/tab-bg.png);
	background-repeat:no-repeat;
	padding:5px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	border-right:5px solid white;
}
#tabs li.actif a {
	color:white;
}
#tabs li.actif {
	background-image:url(../images/arpa/tab-actif-bg.png);
}

.soft {
	font-family:Tahoma;
	font-size:14px;
	color:#939598;
}

/* FORM */
.title {
	color:#e35896;
	font-size:12px;
	font-weight:bold;
}
form.cols .list label {
	display:inline-block;
	width:120px;
	float:left;
	clear:both;
}
form.cols .table {
	margin-top:10px;
	line-height:25px;
}
select, input[type="text"] {
	margin-bottom:2px;
}
form.cols select, form.cols input[type="text"] {
	float:left;
	width:150px;
}
form.cols input[type="radio"] {
	margin-top: -5px;
}

.button {
	background-image:url(../images/annuaire/button.png);
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	padding:5px;
	border-right:5px solid white;
	width:141px;
	height:35px;
	font-weight:bold;
	font-size:14px;
	color:white;
	font-family:Arial;
	text-decoration:none;
	cursor:pointer;
}
.button:hover {
	text-decoration:underline;
}

.lineheight {
	line-height:20px;
}

.recherche-list {
	margin:0;
	padding:0;
	list-style-type:none;
}
.recherche-list li {
	margin:0;
	padding:0;
	width:470px;
	padding-bottom:10px;
	padding-top:10px;
	border-bottom:1px solid #d7d7d7;
}
.recherche-list strong {
	font-size:14px;
}

.recherche-list img {
	float:right;
	margin-top:50px;
}

ul.select {
	padding:0;
	list-style-type:none;
	height:40px;
}
ul.select li {
	float:left;
	text-align:center;
	margin-right:10px;
}
ul.select span {
	display:block;
	margin-bottom:5px;
}
ul.select select, select.dark {
	width:150px;
	background-color:#636466;
	color:white;
}


table {
	width:100%;
	margin-bottom:20px;
	border-collapse:collapse;
}
thead td {
	height:30px;
}
thead {
	text-align:center;
	font-weight:bold;
}
tbody td {
	padding:10px 5px 10px 5px;
	vertical-align:middle;
	border-top:1px solid #c7c7c7;
	border-bottom:1px solid #c7c7c7;
}
tbody tr:last-child td {
	border-bottom:0;
}
tbody .center {
	text-align:center;
}
tbody tr td:first-child {
	background-color:#f7cddf;
}