<?php
return array(
	'all' => array(
		'log_php_errors' => false,
		'global_namespace' => false,
		'preload' => false,
		'log' => false,
		'debug' => false,
		'key'	=>	'coxis',
		'salt'	=>	'FCT7f6ew%^',
		'bundles' => array(
			_DIR_.'app',
			_COXIS_DIR_.'core',
			_COXIS_DIR_.'orm',
			_COXIS_DIR_.'auth',
			_COXIS_DIR_.'behaviors',
			_COXIS_DIR_.'cli',
			_COXIS_DIR_.'db',
			_COXIS_DIR_.'files',
			_COXIS_DIR_.'form',
			_COXIS_DIR_.'hook',
			_COXIS_DIR_.'orm',
			_COXIS_DIR_.'utils',
			_COXIS_DIR_.'validation',
		),
		'imagecache'	=>	false,
		'locale'	=>	'en',
		'locales'	=>	array(
			'fr', 'en'
		),
		'cache'	=>	array(
			'method'	=>	'apc',
			// 'method'	=>	'file',
		),
		'profiler'	=>	false,
		'error_display' => true,
		'debug' => true,
	),
	'dev'	=>	array(
		'phpcache'	=>	false,
		// 'phpcache'	=>	true,
		'profiler'	=>	false,
		// 'profiler'	=>	true,
	),
	'test'	=>	array(
		'phpcache'	=>	false,
	),
	'prod'	=>	array(
		'debug' => false,
		'error_display' => false,
	),
);