<?php
$config = array(
	'dev' => array(
		'database' => array(
			'host'			=>	'localhost',
			'user'	=>	'root',
			'password'	=>	'',
			'database'	=>	'',
			'prefix'		=>	'',
		),
	),
	'test' => array(
		'database' => array(
			'host'			=>	'localhost',
			'user'	=>	'root',
			'password'	=>	'',
			'database'	=>	'coxis3_test',
			'prefix'		=>	'',
		),
	),
	'prod' => array(
		'database' => array(
			'host'			=>	'localhost',
			'user'	=>	'root',
			'password'	=>	'',
			'database'	=>	'',
			'prefix'		=>	'',
		),
	),
);